<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starimmortal.vote.mapper.VoteTimeMapper">

    <sql id="Base_Column_List">
        id
    </sql>
    <select id="selectCountUserId" resultType="java.lang.Integer">
        select count(*) from  tb_vote_time where user_id=#{user_id} and vote_id=#{vote_id}
    </select>

</mapper>
