<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starimmortal.vote.mapper.VoteDraftMapper">

    <sql id="Base_Column_List">
        id
    </sql>

    <select id="selectUserIdByOpenId" resultType="java.lang.Integer">
        select id
        from tb_user
        where openid = #{openid};
    </select>

</mapper>
